 body {
	font-family: Garamond, ‘Book Antiqua’, Palatino, serif;
	font-size: 16px;
	background-color: #eaece5;
	height: 100%;

}

h1 {
    position: relative;
    font-style: oblique;
    font-size:48px;
    left: 40%;
}

p1 {
    position: relative;
    left: 26%;
    font-size: 16pt;
}

.container {
    width: 75%
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  width: 20vw;
  vertical-align: middle;
}




.navbar-inverse .navbar-brand {
    color: #b2c2bf;
    font-size: 16px;
    float: center;
}

.navbar-inverse {
    background-color: #3b3a30;
    border-color: #666666;
    -moz-box-shadow: 2px 2px 7px #000;
    -webkit-box-shadow: 2px 2px 7px #000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #b2c2bf;
    font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #999999;
}


 /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

dding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 